<nav class="navbar container navbar-expand-lg bg-success">
    <div class="container-fluid">
      <a class="navbar-brand text-light fw-bolder" routerLink="">
        <img src="https://image.similarpng.com/very-thumbnail/2021/09/Good-food-logo-design-on-transparent-background-PNG.png" style="width:50px;" alt="">
        Flavour-Fusion
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a  aria-current="page" class="nav-link active"  routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a  aria-current="page" class="nav-link active"  routerLink="/recipes">Recipes</a>
            </li>
            <li class="nav-item">
                <a  aria-current="page" class="nav-link active"  routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a aria-current="page" class="nav-link active"  routerLink="/contact">Contact</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user-large text-light"></i>
@if(isLoggedIn){            
      <span class="text-light fw-bolder">Hi {{loginUsername}}</span>
}            </a>
            <ul class="dropdown-menu">
              @if(isLoggedIn){            

              <li><a class="dropdown-item" routerLink="/saved-recipes">Saved-Recipes</a></li>
              <li><a class="dropdown-item" >Logout</a></li>
              }@else{
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" routerLink="/login">Login</a></li>
              <li><a class="dropdown-item" routerLink="/register">Register</a></li>
              }
            </ul>
          </li>
    
        </ul>

      </div>
    </div>
  </nav>