<app-header></app-header>

<div class="container">
    <div style="height: 400px;" class="row d-flex align-items-center">
        <div class="col-lg-6">
            <img width="100%" class="rounded-5 shadow"
                src="https://img.freepik.com/free-photo/medium-shot-cartoonish-boy-with-burger_23-2151033914.jpg?t=st=1736751436~exp=1736755036~hmac=b5f3dcfa8ffccd89ec1118f3dd3c73da739d988c1dbe43f47311bb03c4ecedf2&w=740"
                alt="">
        </div>
        <div class="col-lg-6" style="margin-top: 0;">
            <h1>Welcome to <span class="text-warning">Flavour-Fusion</span></h1>
            <p>Discover 100+ recipies in your hand with the best recipe provider</p>
        </div>
    </div>
    <div class="row align-items-center my-5">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <h1>About Us</h1>
            <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto vel
                dicta commodi modi? Magnam, odit illo hic ut nam molestias. Officia ratione amet, dignissimos excepturi
                maxime nisi suscipit ex corporis necessitatibus exercitationem dolores reiciendis adipisci ipsam libero
                fugiat quam rem placeat facilis. Voluptates voluptatum, autem voluptatem quis aspernatur quia tempore?
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quod.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium facere non porro fugit et.
                </li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
            </ul>
        </div>
        <div class="col-lg-6 mt-5 image-fluid">

            <img width="70%"
                src="https://img.freepik.com/free-vector/cartoon-character-chef-boy-cooking-food_1308-58403.jpg?t=st=1736751196~exp=1736754796~hmac=aaa8b98545a6dec092f2d0044ef6ec7f8aa6ed4b1bcc141eb9638c8af470f418&w=740"
                alt="">
        </div>

    </div>
</div>